.profile__description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
}

@media screen and (max-width: 750px) {
    .profile__description {
        align-self: center;
        text-align:center;
        font-size: 14px;
        line-height: 17px;
    }
}