.elements__like-button {
    width: 22px;
    height: 19px;
    padding: 0;
    display: flex;
    align-self: flex-end;
    border: none;
    background-color: transparent;
}

.elements__like-button:hover {
    opacity: 0.5;
    transition: 0.5s;
    cursor: pointer;
}

.elements__like-button:active {
    color: black;
}