.profile__info_edit-button {
    margin-bottom: 7px;
    grid-column-start: 2;
    grid-row-start: 1;
    align-self: end;
    background: none;
}

.profile__info_edit-button:hover {
    opacity: 60%;
    transition: 0.5s;
}

@media screen and (max-width: 750px) {
    .profile__info_edit-button {
        margin-bottom: 0;
        align-self: center;
    }
}